<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Adding product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script rel="stylesheet" src="/js/tableRender.js"></script>

</head>
<body>

<header th:replace="fragments/navProdAll::navigationBar"></header>

<div class="container">
    <div class="row mt-sm-5">
        <div class="col-md-8 offset-md-2 products mt-sm-5">
            <form th:action="@{/product/add}" th:object="${product}"
                  method="post" class="form-horizontal mt-sm-3" role="form">
                  <h4 style="text-align: center" class="mt-sm-2">Adding new product</h4>
                  <div class="form-group text-center">
                      <input type="text" th:field="*{name}"
                             placeholder="Name of the product" class="form-control"/>
                  </div>

                <div class="form-group">

                        <input type="text" th:field="*{brand}"
                               placeholder="Name of the brand" class="form-control"/>

                </div>
                <div class="form-group">
                        <select th:field="*{group}">
                            <option th:each="group : ${categories}" th:value="${group.id}" th:text="${group.name}">
                            </option>
                        </select>
                </div>
                <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block mb-sm-3" >Add new product</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>

