<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:action="@{'/product/edit/'+${id}}" th:object="${product}"
                  method="post" class="form-horizontal" role="form">
                  <h>Edit Product</h>

                <!--Excluding below per SPRING warning information-->
                <!--<div class="form-group">-->
                    <!--<div class="col-sm-9">-->
                        <!--<input type="hidden" th:field="*{id}"-->
                               <!--class="form-control"/>-->
                    <!--</div>-->
                <!--</div>-->
                    <div class="form-group">
                      <div class="col-sm-9">
                      <input type="text" th:field="*{name}"
                             placeholder="Name of the product" class="form-control"/>
                      </div>
                    </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{brand}"
                               placeholder="Name of the brand" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="hidden" th:field="*{user.id}"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Save edited product</button>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>

</body>
</html>

