<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Product by Id</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script rel="stylesheet" src="/js/tableRender.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<div class="container">

    <table class="table table-striped text-center">
        <thead class="thead-light text-center">
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center">brand</th>
        <th scope="col" class="text-center">Edit</th>
        <th scope="col" class="text-center">Remove</th>
        <th scope="col" class="text-center">Offer</th>
        <th scope="col" class="text-center">Start/Stop using</th>
        </thead>
        <tbody>
        <tr>
            <td th:text="${product.name}"/>
            <td th:text="${product.brand}"/>
            <td>
                <a th:href="@{'/product/edit/'+${product.id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
            <td>
                <a th:href="@{'/product/remove/'+${product.id}}">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a>
            </td>
            <td>
                <a th:href="@{'/offer/add/'+${product.id}}">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </td>
            <td>
                <a id="start" th:if="${product.isActive == 'No'}" th:attr="url=@{'/product/start/'+${product.id}}">
                    <span class="glyphicon glyphicon-play" style="color:greenyellow"></span>
                </a>
                <a id="stop" th:if="${product.isActive == 'Yes'}"th:attr="url=@{'/product/stop/'+${product.id}}">
                    <span class="glyphicon glyphicon-stop" style="color:orangered"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <h3 style="text-align: center" id="offerList"><strong>Offer list</strong></h3>

    <table class="table table-striped text-center">
        <thead class="thead-light text-center">

        <th scope="col" class="text-center">Price</th>
        <th scope="col" class="text-center">Shop</th>
        <th scope="col" class="text-center">Added on</th>
        <th scope="col" class="text-center">Add purchase</th>

        </thead>
        <tbody>
        <th:block th:each="offer : ${product.offers}">
            <tr>
                <td th:text="${offer.price}"/>
                <td th:text="${offer.shopName}"/>
                <td th:text="${offer.addedAt}"/>
                <td>
                    <a th:href="@{'/purchase/add/'+${product.id}+'/'+${offer.id}}">
                        <span class="glyphicon glyphicon-usd"></span>
                    </a>
                </td>

            </tr>
        </th:block>
        </tbody>
    </table>

</div>
</body>
</html>