<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Product by Id</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script rel="stylesheet" src="/js/tableRender.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<header th:replace="fragments/navProdAll::navigationBar"></header>

<div class="container">

    <div class="row mt-sm-5">

        <div class="col-md-12 products mt-sm-5">
            <div class="table-responsive-md">
                <table class="table table-striped text-center mt-sm-5">
                    <thead class="thead-light text-center">
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">brand</th>
                    <th scope="col" class="text-center">Usage</th>
                    <th scope="col" class="text-center">Liked</th>
                    <th scope="col" class="text-center">Edit</th>
                    <th scope="col" class="text-center">Remove</th>
                    <th scope="col" class="text-center">Offer</th>
                    <th scope="col" class="text-center">Start/Stop using</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${product.name}"/>
                        <td th:text="${product.brand}"/>
                        <td th:if="${product.averageEfficiency != 0}" th:text="${product.averageEfficiency}"/>
                        <td th:if="${product.averageEfficiency == 0}" th:text="na"/>
                        <td>
                            <a id="isLiked" th:if="${product.isLiked != 'Yes'}"
                               th:href="@{'/product/like/'+${product.id}}">
                                <span class="fa fa-heart" style="color:grey; cursor: pointer"></span>
                            </a>
                            <a id="notLiked" th:if="${product.isLiked == 'Yes'}"
                               th:href="@{'/product/unlike/'+${product.id}}">
                                <span class="fa fa-heart" style="color:red; cursor: pointer"></span>
                            </a>
                            <!--<a th:href="@{'/product/edit/'+${product.id}}">-->
                                <!--<span class="fa fa-heart"></span>-->
                            <!--</a>-->
                        </td>
                        <td>
                            <a th:href="@{'/product/edit/'+${product.id}}">
                                <span class="fa fa-pencil"></span>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'/product/remove/'+${product.id}}">
                                <span class="fa fa-remove"></span>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'/offer/add/'+${product.id}}">
                                <span class="fa fa-plus"></span>
                            </a>
                        </td>
                        <td>
                            <a id="start" th:if="${product.isActive == 'No'}"
                               th:attr="url=@{'/product/start/'+${product.id}}">
                                <span class="fa fa-play" style="color:greenyellow; cursor: pointer"></span>
                            </a>
                            <a id="stop" th:if="${product.isActive == 'Yes'}"
                               th:attr="url=@{'/product/stop/'+${product.id}}">
                                <span class="fa fa-stop" style="color:orangered; cursor: pointer"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3 style="text-align: center" id="offerList"><strong>Offer list</strong></h3>
            <div class="table-responsive-md">
                <table class="table table-striped text-center">
                    <thead class="thead-light text-center">

                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">Shop</th>
                    <th scope="col" class="text-center">Added on</th>
                    <th scope="col" class="text-center">Add purchase</th>

                    </thead>
                    <tbody>
                    <th:block th:each="offer : ${product.offers}">
                        <tr>
                            <td th:text="${offer.price}"/>
                            <td th:text="${offer.shopName}"/>
                            <td th:text="${offer.addedAt}"/>
                            <td>
                                <a th:href="@{'/purchase/add/'+${product.id}+'/'+${offer.id}}">
                                    <span class="fa fa-usd"></span>
                                </a>
                            </td>

                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>