<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Remove product confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header th:replace="fragments/navProdAll::navigationBar"></header>
<div class="container">
    <div class="row mt-sm-5">
        <div class="col-md-12 products mt-sm-5">
            <table class="table table-striped mt-sm-5">
                <thead class="thead-light">
                <th scope="col">Name</th>
                <th scope="col">brand</th>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${product.name}"/>
                    <td th:text="${product.brand}"/>
                </tr>
                </tbody>
            </table>


            <div class="col-md-12">
                <h4 style="text-align: center" class="mt-sm-2">Do you want to delete this product?</h4>
                <!--<p>Do you want to delete this product?</p>-->

                <form method="post" class="text-center mb-md-2" th:action="@{'/product/remove/'+${product.id}}">
                    <button type="submit" class="btn btn-danger text-center">Yes</button>
                    <a th:href="@{/product/all}" class="btn btn-success success text-center" style="color: white">No</a>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

