<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>All Offers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script rel="stylesheet" src="/js/tableRender.js"></script>

</head>

<body>

<div class="container">

    <table class="table table-striped">
        <thead class="thead-light">

        <th scope="col">Product</th>
        <th scope="col">brand</th>
        <th scope="col">Price</th>
        <th scope="col">Shop</th>
        <th scope="col">Added at</th>

        </thead>
        <tbody>
        <th:block th:each="offer : ${offers}">
            <tr>
                <td>
                    <a th:href="@{'/offer/getById/'+${offer.id}}" th:text="${offer.product.name}"></a>
                </td>
                <td th:text="${offer.product.brand}"/>
                <td th:text="${offer.price}"/>
                <td th:text="${offer.shopName}"/>
                <td th:text="${offer.addedAt}"/>

            </tr>
        </th:block>
        </tbody>
    </table>


</div>


</body>
</html>