<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>All Offers By Shop Name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<header th:replace="fragments/navProdAll::navigationBar"></header>
<div class="container">

    <div class="row mt-sm-5">

        <div class="col-md-12 products mt-sm-5">

            <table class="table table-striped mt-sm-5">
                <thead class="thead-light">

                <th scope="col">Product</th>
                <th scope="col">brand</th>
                <th scope="col">Price</th>
                <th scope="col">Shop</th>
                <th scope="col">Added at</th>

                </thead>
                <tbody>
                <th:block th:each="offer : ${byShopName}">
                    <tr>
                        <td>
                            <a th:href="@{'/offer/getById/'+${offer.id}}" th:text="${offer.product.name}"></a>
                        </td>
                        <td th:text="${offer.product.brand}"/>
                        <td th:text="${offer.price}"/>
                        <td th:text="${offer.shopName}"/>
                        <td th:text="${offer.addedAt}"/>

                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>