<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Offer by Id</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script rel="stylesheet" src="/js/tableRender.js"></script>
</head>

<body>

<div class="container">

    <table class="table table-striped text-center">
        <thead class="thead-light text-center">
        <th scope="col" class="text-center">Product</th>
        <th scope="col" class="text-center">Brand</th>
        <th scope="col" class="text-center">Shop name</th>
        <th scope="col" class="text-center">Price</th>
        <th scope="col" class="text-center">Added at</th>
        <th scope="col" class="text-center">Edit</th>
        <th scope="col" class="text-center">Remove</th>
        </thead>
        <tbody>
        <tr>
            <td th:text="${offer.product.name}"/>
            <td th:text="${offer.product.brand}"/>
            <td th:text="${offer.shopName}"/>
            <td th:text="${offer.price}"/>
            <td th:text="${offer.addedAt}"/>
            <td>
                <a th:href="@{'/offer/edit/'+${offer.id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
            <td>
                <a th:href="@{'/offer/remove/'+${offer.id}}">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>