
body
{
    /*background-color:#005c69;*/
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    /*background: url("../images/whit.jpg") no-repeat;*/
    background: url("../images/light.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.bg-scrooge{
    background-color: #33658a;
    opacity: 0.8;
    font-weight: bolder;
}

td,tr,th{

    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bolder;
    color: white;

}

.bg-scrooge-nav{
    background-color: #33658a;
}

nav {
    font-weight: bolder;
}

h4 {
    font-weight: bolder;
}

caption{
    font-weight: bolder;
    color: rgba(242, 100, 25,1.0);

}
#chartDiv{
    background-color: rgba(242, 100, 25, 0.60);
    border-radius: 40px;
    border: thick solid #33658a;
}

#chartDiv:hover {
    background-color: rgba(242, 100, 25, 0.80);

}

#motto{

    background-color: rgba(51, 101, 138, 0.60);
    border-radius: 40px;
    border: thick solid #33658a;


}

#motto:hover {
    background-color: rgba(51, 101, 138, 0.80);

}

#totalAndAdvises{
    background-color: rgba(242, 100, 25, 0.60);
    border-radius: 40px;
    border: thick solid #33658a;
}

#totalAndAdvises:hover{
    background-color: rgba(242, 100, 25, 0.80);
}

#bestOffers{
    background-color: rgba(51, 101, 138, 0.60);
    border-radius: 40px;
    border: thick solid #33658a;
}

#bestOffers:hover {
    background-color: rgba(51, 101, 138, 0.80);

}

.products{
    background-color: rgba(51, 101, 138, 0.60);
    border-radius: 40px;
    border: thick solid #33658a;
}
.products a{
    text-decoration: none;
    color: #f6ae2d;
}

.scrooge-orange{
    background-color: rgba(242, 100, 25, 0.60);
    border-radius: 40px;
    border: thick solid #33658a;
}

.scrooge-error{
    font-weight: bold !important;
    color: orangered !important;
}

